<%- include('header') %> <%- include('aside') %>

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <h1><%= title %></h1>
    </div>
  </section>

  <section class="content">
    <div class="box mb-4"></div>

    <div class="card-body p-0">
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>Key</th>
            <th>Ghi chú</th>
            <th>Giá trị</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((item, index) => { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= item.key %></td>
            <td><%= item.note %></td>
            <td>
              <% if (item.key === 'logo' || item.key === 'favicon') { %>
              <img src="<%= item.value %>" style="max-height: 50px" />
              <% } else if ( item.key === 'primary_color' || item.key ===
              'header_color' || item.key === 'gradient-end' || item.key ===
              'gradient-start' || item.key === 'text_color' ) { %>
              <div
                class="color-web"
                style="
                  background-color: <%= item.value %>;
                  width: 100px;
                  height: 20px;
                "
              ></div>
              <% } else { %> <%= item.value %> <% } %>
            </td>

            <td>
              <a
                href="/admin/setting/edit/<%= item.id %>"
                class="btn btn-sm btn-info"
              >
                <i class="fas fa-pencil-alt"></i> Sửa
              </a>
              <form
                action="/admin/setting/delete/<%= item.id %>"
                method="POST"
                style="display: inline"
                onsubmit="return confirm('Bạn có chắc muốn xóa không?')"
              ></form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </section>
</div>

<%- include('footer') %>
