<%- include('header') %> <%- include('aside') %>

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= title %></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Cài đặt hệ thống</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="box">
      <div class="box-body card card-primary">
        <div class="card">
          <div class="card-header"><%= title %></div>
          <div class="card-body">
            <form
              method="POST"
              action="/admin/setting/edit/<%= setting.id %>"
              enctype="multipart/form-data"
            >
              <div class="form-group">
                <label><%= setting.note %></label>

                <% if (setting.key === 'logo' || setting.key === 'favicon') { %>
               
                  <label>Ảnh đang áp dụng</label><br />
                  <!-- Ảnh xem trước -->
                  <img
                    data-group="uploadImage"
                    data-role="preview"
                    src="<%= setting.value ? setting.value : '/dist/img/avatar4.png' %>"
                    width="150"
                    class="thumbnail_url"
                  />
                </div>

                <div class="form-group">
                  <!-- Tên ảnh -->
                  <p data-group="uploadImage" data-role="filename">
                    <%= setting.value ? setting.value.split('/').pop() :
                    'avatar4.png' %>
                  </p>

                  <label for="avatar">Cập nhật ảnh</label>
                  <!-- Input ảnh từ máy -->
                  <input
                    type="file"
                    class="form-control"
                    id="image"
                    name="image"
                    accept="image/*"
                    data-group="uploadImage"
                    onchange="showImage(event, this)"
                  />

                  <!-- Nút chọn từ thư viện -->
                  <button
                    type="button"
                    class="btn btn-secondary mt-2"
                    data-group="uploadImage"
                    onclick="openImageModal(this)"
                  >
                    Chọn từ thư viện
                  </button>
                  <input
                    type="hidden"
                    name="selected_image"
                    data-group="uploadImage"
                    data-role="selectedInput"
                  />
                  <input
                    type="hidden"
                    name="old_thumbnail_url"
                    value="<%= setting.value || '/dist/img/avatar4.png' %>"
                  />
                   <input  type="hidden" name="key" value="<%= setting.key %>" >
                </div>

                <% } else if (setting.key === 'about_us' || setting.key ===
                'seo_description') { %>
                  <input  type="hidden" name="key" value="<%= setting.key %>" >
                <textarea
                  class="form-control"
                  name="value"
                  rows="3"
                >
                <%= setting.value %></textarea>
                
                <% } else if (setting.key === 'primary_color' || setting.key ==='secondary_color'|| setting.key ==='gradient-end'|| setting.key ==='gradient-start'|| setting.key ==='text_color' ) { %>
                <input  type="hidden" name="key" value="<%= setting.key %>" >
                <input
                  type="color"
                  id="value"
                  name="value"
                  value="<%= setting.value %>" 
                />
                <% } else { %>
                   <input  type="hidden" name="key" value="<%= setting.key %>" >
                <input
                  type="text"
                  class="form-control"
                  name="value"
                  value="<%= setting.value %>"
                />
                <% } %>
              </div>

              <div class="box-footer mt-3">
                <button type="submit" class="btn btn-success">
                  <i class="fa fa-save"></i> Lưu cài đặt
                </button>
                <a href="/admin" class="btn btn-default float-right">
                  <i class="fa fa-reply"></i> Quay lại trang chủ
                </a>
              </div>
            </form>
          </div>
          <div class="card-footer text-muted"></div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('modalimage')%>
<%- include('footer') %>
